.container {
    background-color: rgb(228, 228, 235);
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color:  rgb(228, 228, 235);
}

body {
  background:  rgb(228, 228, 235);
}

#introInfo {
  /* font-family: 'Nixie One', cursive; */
  font-family: 'Quicksand', sans-serif;
  size: 200px;
}

#img-fluid {
  max-width: 30%;
  float: left;
}

#bio {
    padding-left: 40px;
    padding-right: 210px;
}

.introInfo {
  font-weight: 900;
  font-size: 3.5em;
  color: #272727;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.introInfo .letter {
  display: inline-block;
  line-height: 1em;
}
.introInfo:hover {
  transform: scale(1.3); 
}

#a {
  color: slategray;
}

.footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: slategrey;
          color: white;
          text-align: center;
        }